<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Taylor-Rae Loatman</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="static/image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="static/image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="{{ url_for('home') }}">
                <img src="static/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <div class="header-content">
    
            <nav class="row header-nav-wrap">
                <ul class="header-nav">
                    <li><a class="smoothscroll" href="#hero" title="Intro">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">About</a></li>
<!--                    <li><a class="smoothscroll" href="#portfolio" title="Works">Works</a></li>-->
                    <li><a href="#say-hi" title="Contact us">Say Hello</a></li>
                </ul>
            </nav> <!-- end header-nav-wrap -->

            <a href="{{ url_for('get_cv', path=path) }}" class="btn btn--stroke btn--small">Download CV</a>

        </div> <!-- end header-content -->

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> 


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section" data-parallax="scroll" data-image-src="static/images/cover.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="row hero-content">

            <div class="column large-full">

                <h1>
                Hello, I'm Taylor-Rae<br> Loatman,
                A Backend <br>Developer currently <br>
                based in Atlanta, Ga.
                </h1>

                <ul class="hero-social">
                    <li>
                        <a href="https://twitter.com/TaylorLoatman" title="">Twitter</a>
                    </li>
                    <li>
                        <a href="https://github.com/TaylorLoatman" title="">Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/taylor-rae-loatman-3122a053/" title="">LinkedIn</a>
                    </li>
                </ul> <!-- end hero-social -->

            </div> 

        </div> <!-- end hero-content -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 24l-8-9h6v-15h4v15h6z"/></svg>
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="s-about__section s-about__section--profile">

            <div class="right-vert-line"></div>

            <div class="row">
                <div class="column large-6 medium-8 tab-full">

                    <div class="section-intro" data-num="01" data-aos="fade-up">
                        <h3 class="subhead">About Me</h3>
                        <h1 class="display-1">I'm the kind of person who isn't afraid of challenges.</h1>
                    </div>

                    <div class="profile-pic" data-aos="fade-up">
                        <img src="static/images/profile_pic.png"
                             srcset="static/images/profile_pic.png 1x, static/images/x2.png 2x" alt="profile picture">
                    </div>

                    <h3 data-aos="fade-up">Profile</h3>

                    <p data-aos="fade-up">
                    I began my programming journey as a side project. Restricted with my ranges of creativity by
                        the typical "no-code" website building platforms. I put fourth my determination and began learning to code.
                        Fast-forward to three years later I have participated in many web development project which
                        allowed me to gain a significant amount of experience.
                    </p>
                    <p>I currently work remote with a selected freelance client base being open for new opportunities.</p>

                </div>
            </div>

        </div> <!-- end s-about__section--profile -->

        <div class="s-about__section">

            <div class="row">
                <div class="column">
                    <h3 data-aos="fade-up">Career</h3>
                </div>
            </div>

            <div class="row block-large-1-2 block-900-full work-positions">

                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">Krown Me Empire, LLC.</span>
                                <span class="position__pos">IT Support</span>
                            </h6>
                            <div class="position__timeframe">
                                January 2021 - Present
                            </div>
                        </div>

                        <p>
                        Ensure compliance with company policies, while devising and deploying security strategies as
                            well as managing computer and mobile devices. Develop training programs and manage on-boarding
                            operations, while working closely with HR department. Bestow assistance to non-technical users
                            by converting complex technical issues into understandable language.
                        </p>
                    </div>
                </div> <!-- end column -->
                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">BAMIGI & Associates</span>
                                <span class="position__pos">Web Developer</span>
                            </h6>
                            <div class="position__timeframe">
                                May 2020 - Present
                            </div>
                        </div>

                        <p>
                        Manage blending arrangement, style, and aesthetic elements to Illustrate page design concepts.
                            Deliver effective assistance to key clients regarding website marketing and search engine
                            optimization. Leverage professional expertise, while performing multiple duties with keen
                            focus on optimizing performance.
                        </p>
                    </div>
                </div> <!-- end column -->
                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">5 Deep Technical Solutions</span>
                                <span class="position__pos">Developer/Owner</span>
                            </h6>
                            <div class="position__timeframe">
                                May 2019 - Present
                            </div>
                        </div>

                        <p>
                        Excels at the client and internal-user interaction with demonstrated ability to translate
                            business requirements into technical requirements and back again as required. Tracks record
                            for transforming requirements into tangible solutions that meet or exceed expectations.
                        </p>
                    </div>
                </div> <!-- end column -->


            </div> <!-- work positions -->

        </div> <!-- end s-about__section -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services target-section h-dark-bg">
        
        <div class="row s-services__content">

            <div class="vert-line"></div>

            <div class="column large-6 s-services__leftcol">
                <div class="section-intro" data-num="02" data-aos="fade-up">
                    <h3 class="subhead">Expertise</h3>

                    <h1 class="display-1">
                    I focus on crafting web experiences that work.
                    </h1>
                </div>

                <p class="lead" data-aos="fade-up">
                Along with many certification obtained. I have gained real world experience with Automation, Web Management,
                    as well as Backend Development.
                </p>
            </div> <!-- end  s-services--leftcol -->

            <div class="column large-6">
                <ul class="services-list" data-aos="fade-up">
                    <li class="services-list__item is-active">
                        <div class="services-list__item-header">
                            <h5>Automation</h5>
                        </div>
                        <div class="services-list__item-body">
                            <p>
                            Ample amount of skill automating tedious everyday task for businesses.
                                leaving businesses to focus on more important task at hand.
                            </p>
                        </div>
                    </li> <!-- services-list__item -->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>Backend Development</h5>
                        </div>
                        <div class="services-list__item-body">
                            <p>
                           Experience in both Flask and Django, ensuring your server-side connection is in good hands.
                            </p>
                        </div>
                    </li> <!-- services-list__item -->
<!--                    <li class="services-list__item">-->
<!--                        <div class="services-list__item-header">-->
<!--                            <h5>Data Science</h5>-->
<!--                        </div>-->
<!--                        <div class="services-list__item-body">-->
<!--                            <p>-->
<!--                            Develop action plans to mitigate risks in decision-making while increasing profitability by-->
<!--                                leveraging data science.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </li> &lt;!&ndash; services-list__item &ndash;&gt;-->
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>Web Management</h5>
                        </div>
                        <div class="services-list__item-body">
                            <p>
                            Experience and management of e-commerce, booking platforms, clothing brands etc.
                            </p>
                        </div>
                    </li> <!-- services-list__item -->

                </ul> <!-- end services-list -->
            </div>

        </div> <!-- s-services__content -->

    </section> <!-- end s-services -->


    <!-- portfolio
    ================================================== -->
<!--    <section id="portfolio" class="s-portfolio target-section">-->

<!--        <div class="row s-portfolio__header">-->
<!--            <div class="column large-6 medium-8 tab-full">-->
<!--                <div class="section-intro" data-num="03" data-aos="fade-up">-->
<!--                    <h3 class="subhead">Portfolio</h3>-->
<!--                    <h1 class="display-1">-->
<!--                        A selection of recent projects I have worked on.-->
<!--                    </h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div> &lt;!&ndash; s-porfolio__header &ndash;&gt;-->

<!--        <div class="row s-porfolio__list block-large-1-2 block-tab-full collapse">-->

<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-windows-in-the-city.jpg" title="Windows in The City" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/windows-in-the-city.jpg" -->
<!--                                 srcset="static/images/portfolio/windows-in-the-city.jpg 1x, static/images/portfolio/windows-in-the-city@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Branding</div>-->
<!--                        <h4 class="folio-item__title">Windows in The City</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->
<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-building-blocks.jpg" title="Building Blocks" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/building-blocks.jpg" -->
<!--                                 srcset="static/images/portfolio/building-blocks.jpg 1x, static/images/portfolio/building-blocks@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Frontend Design</div>-->
<!--                        <h4 class="folio-item__title">Building Blocks</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->
<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-shout-jump.jpg" Title="Shout and Jump" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/shout-and-jump.jpg" -->
<!--                                 srcset="static/images/portfolio/shout-and-jump.jpg 1x, static/images/portfolio/shout-and-jump@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Branding</div>-->
<!--                        <h4 class="folio-item__title">Shout & Jump</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->
<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-sand-dunes.jpg" title="Sand Dunes" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/sand-dunes.jpg" -->
<!--                                 srcset="static/images/portfolio/sand-dunes.jpg 1x, static/images/portfolio/sand-dunes@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Frontend Design</div>-->
<!--                        <h4 class="folio-item__title">Sand Dunes</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->
<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-woodcraft.jpg" title="Sand Dunes" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/woodcraft.jpg" -->
<!--                                 srcset="static/images/portfolio/woodcraft.jpg 1x, static/images/portfolio/woodcraft@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Product Design</div>-->
<!--                        <h4 class="folio-item__title">Wooocraft</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->
<!--            <div class="column" data-aos="fade-up">-->
<!--                <div class="folio-item">-->
<!--                    <div class="folio-item__thumb">-->
<!--                        <a class="folio-item__thumb-link" href="static/images/portfolio/gallery/g-lamp.jpg" title="The Lamp" data-size="1050x700">-->
<!--                            <img src="static/images/portfolio/lamp.jpg" -->
<!--                                 srcset="static/images/portfolio/lamp.jpg 1x, static/images/portfolio/lamp@2x.jpg 2x" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="folio-item__info">-->
<!--                        <div class="folio-item__cat">Product Design</div>-->
<!--                        <h4 class="folio-item__title">The Lamp</h4>-->
<!--                    </div>-->
<!--                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>-->
<!--                    <div class="folio-item__caption">-->
<!--                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> &lt;!&ndash; end column &ndash;&gt;-->

<!--        </div> &lt;!&ndash; folio-list &ndash;&gt;-->

<!--    </section> &lt;!&ndash; end portfolio &ndash;&gt;-->

    <!-- footer
    ================================================== -->
    <footer id="say-hi" class="s-footer h-dark-bg">
        
        <div class="right-vert-line"></div>

        <div class="row s-footer__main">
            <div class="column large-6">
                <div class="section-intro" data-aos="fade-up">
                    <h3 class="subhead">Get In Touch</h3>

                    <h1 class="display-1">
                    Have an idea or a concept that really excite you?
                    Let's turn that idea into reality. Shoot me a message.
                    </h1>
                </div>

                <div class="footer-email-us">
                    <a href="mailto:taylor.loatman@icloud.com" class="btn btn--primary h-full-width">Let's Talk</a>
                </div>
            </div>

            <div class="column large-5">
                <div class="footer-contacts">
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Email
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="mailto:taylor.loatman@icloud.com">taylor.loatman@icloud.com</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Phone
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="tel:+14703189931">+1470 318 9931</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <br>
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Social
                        </h5>
                        <ul class="footer-contact-block__list">
                            <li><a href="https://twitter.com/TaylorLoatman">Twitter</a></li>
                            <li><a href="https://github.com/TaylorLoatman">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/taylor-rae-loatman-3122a053/">LinkedIn</a></li>
                        </ul>
                    </div> <!-- end footer-contact-block -->
                </div>
            </div>
        </div> <!-- end s-footer__main -->

        <div class="row s-footer__bottom">
            <div class="column large-full ss-copyright">
                <span>© Copyright Taylor-Rae Loatman 2022</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div> <!-- end ss-copyright -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>